@import "home";
@import "login";

.pad {
  background-color: #ffffff;
  padding: 20px 20px 40px 60px;
  margin-top: -90px;
  color: black ;
}

.wrapper {
  background-color: #EDEDED ;
}

.banner-event {
  height: 350px;
  background-size: cover;

}

.color {
  color: $green;
}

h1 {
	color: #90c1d4;
	font-weight:  bold;
	font-size: 50px;
}