@import "home";
@import "login";
@import "show_event";
@import "users-profile";

.pad {
  background-color: #ffffff;
  padding: 20px 20px 40px 60px;
  margin-top: -90px;
  color: black ;
}

.banner-event {
  height: 350px;
  background-size: cover;

}

// .grey-wrapper {
//   background-image: url('runners-train');
// }

.blue-nav {
  margin-bottom: 30px;
}

.color {
  color: $green;
}

.events-counter {
  margin-bottom: 26px;
}

.nav {
  padding-top: 6px;
  padding-bottom: 16px;
}

#events {
  color: #90c1d4;
  font-weight:  bold;
  font-size: 50px;
}

.pages-wrapper {
  min-height: 90vh;
  margin-top: 70px;
  background-size: cover !important;
}
.users-edit {
  .pages-wrapper {
    padding-bottom: 60px;
  }
}
.pages-home {
  .pages-wrapper {
    margin-top: 0px;
  }
  .navbar-wagon {
    background-color: transparent;
  }
}

.opacity {
  opacity: 0.8;
}

.grey-wrapper {
  background-image: url('runners-train.jpg');
  background-size: cover !important;
  min-height: 100vh;
}

