.login-form {
  margin-left: 25%;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  border-radius: 12px;
  padding: 30px 80px;
  text-align: left;
}

.login-form h2 {
  text-align: center;
  font-size: 23px;
}
