.event {
	display: flex;
	flex-direction: column;
	margin-top: -40px;
	.event_header {
		display: flex;
		justify-content: space-between;
		border-radius: 12px;
		background: #FFEEE5;
		padding: 20px;
		.public_private{
			background: $green;
			color: white;
			font-weight: bold;
			text-align: center;
			border-radius: 5px;
			width: 100px;
			padding: 5px;
		}
	}
	.event-details {
		display: flex;
		margin-top: 20px;
		.description {
			width: 60%;
			border: 3px solid #FFEEE5;
			margin-right: 20px;
			padding: 20px;
			border-radius: 12px;
			.messages {
				h4 {
					border-bottom: 3px solid black;
				}	margin-bottom: 15px;
			}
			.message {
				border-bottom: 1px solid black;
			}
		}
		.participation {
			width: 40%;
			border: 3px solid #FFEEE5;
			padding: 20px;
			border-radius: 12px;
			.participation_header {
				display: flex;
				justify-content: space-between;
				.participation_icone {
					width: 40px;
					text-align: center
				}
			}
			.participation_all {
				border: 2px dotted #FFEEE5;
				border-radius: 12px;
				padding: 10px;
				.particpation_avatar {
					display: flex;
					.avatar_user {
						padding: 5px;
					}
				}
			}

		}
	}
	h4 {
		font-weight: bold;
		margin-bottom: 3px;
	}
	h5 {
		font-weight: bold;
		margin-bottom: 3px;
	}
	p {
		margin-bottom: 20px;
	}
	a {
  font-size: 30px;
  color: #4C4C4C;
}
}