.users-edit {
  label {
    color: black;
  }
}

#user_photo {
  color: white;
}

.actions {
  background-color: white;

}

.profile-form {
  background-color: white;
  opacity: 0.86;
  margin-top: 35px;
  padding-bottom: 27px;
  border-radius: 4px;

}
