<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
        <div class="social-network">
          <p>Suivez-nous</p>
          <ul class="list-inline text-center">
            <li>
              <div class="social-icons">
                <a id="icon-insta" class="text-center" href="">
                  <i class="fa fa-instagram">
                  </i>
                </a>
              </div>
            </li>

            <li>
              <div class="social-icons">
                <a id= "icon-fb" class="text-center" href="">
                  <i class="fa fa-facebook">
                  </i>
                </a>
              </div>
            </li>

            <li>
              <div class="social-icons">
                <a id= "icon-twitter" class="text-center" href="">
                  <i class="fa fa-twitter">
                  </i>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
