<!-- <div class="banner" style="background-image: linear-gradient(-225deg, rgba(171,207,230,0.5) 0%, rgba(0,36,61,0.3) 50%), url("<%#= image_path 'runners.jpg' %>");">  -->
<div class="banner">
  <div class="banner-content">
    <h1>Ne courez plus jamais seul !</h1>
    <p>Créez ou rejoignez des courses proposées par vos collègues de travail.</p>
    <br>
    <% if user_signed_in? %>
      <%= link_to 'View events', events_path, class:"btn-medium", id: "home-page" %>
    <% else %>
      <%= link_to 'Se connecter', new_user_registration_path, class:"btn-medium-full" %>
      <%#= link_to 'En savoir plus', new_user_session_path, class:"btn-medium", id: "home-page" %>
    <% end %>
  </div>

  <div class="text-center" style="position: absolute; bottom: -50px;">
    <a href="#features">
      <i class="fa fa-angle-down pulse" style="font-size: 90px; color: white;">
      </i>
    </a>
  </div>
</div>

<div class="wrapper-shoes">

  <div class= "col-xs-12 col-md-6" id="left-block">
    <div id="text-left-block">
      <p>
      Planifier des activités sportives avec vos collègues en un seul clic.
      <p>

      <br>

      <p>
      Et profitez de l'émulation d'un groupe pour vous surpasser.
      </p>
    </div>
  </div>

  <div class= "col-xs-12 col-md-6" id="right-block">

  </div>

</div>

<!-- <div class="wrapper-run">

  <div class= "col-xs-12 col-md-6" id="left-block-one">

  </div>

  <div class= "col-xs-12 col-md-6" id="right-block-two">
    <div id="text-left-block-two">
      <p>Profitez de l'émulation d'un groupe pour vous surpasser.</p>
    </div>
  </div>

</div> -->

  <!-- <div class="wrapper-runners" style="background-image: url(<%#=image_path 'runners.jpg' %>);"> -->
   <!--  <div class="container">
      <h2>How it works?</h2>
      <br>
      <br>
      <div class="row"> -->
      <!--   <div class="col-xs-12 col-sm-4">
          <%#= image_tag '', class: "picto-hp" %>
          <p>I sign up with my professional email and edit my profile</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%#= image_tag '', class: "picto-hp" %>
          <p>I can check all the upcoming events and choose to join an event or create my own</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%#= image_tag '', class: "picto-hp" %>
          <p>I enjoy my run with my colleagues</p>
        </div>

</div> -->

</div>




<!--
<div class="banner" style="background-image: url(<%#= image_path 'sign_in_3.jpg' %>); height: 50vh;">
</div> -->
