#footer {
  background: $gray-darker;
  padding: 15px 0;
  color: $gray-lighter;
  p {
  margin-top: 17px;
  }
  ul {
  margin-top: 10px;
  }
  a {
  color: white;
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
  &:hover {
  color: $red;
  }
 }
}// Your footer style

.social-network {
  border-bottom: white 1px solid;
  padding-left: 110px;
}


