/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.body {
  background: #F2F2F2;
}

.picto-hp {
  height: 150px;
  margin-bottom: 30px;
}

.status {
  width: 100%;
  border: 1px grey solid;
  background-color: #E6E6E6;
  &:hover {
    background-color: white;
    color: $dark-blue;
    border: 2px $dark-blue solid;
    font-weight: bolder;
  }
}
.status_on {
  color: grey;
  color: $dark-blue;
  border: 2px $dark-blue solid;
  background-color: white;
  font-weight: bolder;
}
.choice {
  width: 100%;
  color: grey;
  border: 1px grey solid;
  background-color: #E6E6E6;
  margin-bottom: 15px;
  margin-top: 10px;
  &:hover {
    background-color: white;
    color: $blue;
    border: 2px $blue solid;
    // font-weight: bolder;
  }
}
.private-choice {
  color: $blue !important;
  border: 2px $blue solid;
  background-color: white;
  /*font-weight: bolder;*/
}
.level {
    height: 100px;
    width: 100px;
    opacity: 0.8;
  }
.button-level {
  text-align: center;
}
.icon-thread {
  height: 128px;
}
.form-title {
  color: grey;
  font-weight: lighter;
}
.icon-thread input[type='radio'] {opacity: 0;position:absolute;width:100%;height:100%;cursor: pointer;}
.icon-thread input[type='radio'] + label {margin:.6em;color: #B1B1B1; text-shadow: 1px 1px #fff;}
.icon-thread input[type='radio']:checked + label{border: 3px solid $dark-blue; border-radius: 10px;}
