.users-edit {
  .pages-wrapper {
    background: image-url('running-stretching.jpg') center center no-repeat;
  }
}

// .users-profile {
//   .pages-wrapper {

//   }
// }

.grey-wrapper {
  background-image: url('runners-cliff.jpg');
  background-size: cover !important;
  min-height: 100vh;
}
