.btn-medium {
  color: $green;
  border: 1px solid $green;
  padding: 10px 25px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
}

#orange {
  background-color: orange;

}

#home-page {
  background-color: rgba(0, 0, 0, 0.3);
}
.btn-medium-full {
  background-color: $green;
  color: white;
  padding: 10px 25px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
}
.btn-medium:hover {
  text-decoration: none;
  color: $green;
  opacity: 1;
}
.btn-medium-full:hover {
  text-decoration: none;
  color: white;
  opacity: 1;
}
.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 12px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

#login-btn {
  margin-right: 20px;
  color: white;
  background-color: #47D579;
  border-radius: 12px;
  padding: 10px 15px;
}

.green-btn {
  margin-right: 20px;
  color: white;
  background-color: #47D579;
  border-radius: 12px;
  padding: 10px 15px;
}

.green-btn:hover {
  color: white;
  background-color: $green;
}


