.custom-icon {
  border-radius: 50%;
  color: grey;
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #fff, #ddd);
  border: 4px solid #90c1d4;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 24px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  opacity: 0.8;
  cursor: pointer;
}
.custom-icon:hover {
  background:#fff;
  cursor: pointer;
}
.fix-editor {
  display:none;
}
.icon-wrapper {
  display:inline-block;
  height: 150px;
  width: 150px;
}

.pad-top {
  padding-top: 30px;
}
.pad-top-more {
  padding-top: 80px;

}
.pad-bot {
  padding-bottom: 30px;
}

.pad-left {
  padding-left: 350px;
}

.size_text {
  font-size: 30px;
}
.calendar-heading {
  display: flex;
  margin-left: 5px;
  justify-content: space-between;
}

.line {
  border-bottom: 2px solid #90c1d4;
}
.triangle_inside_line {
  margin-left: 445px;
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #90c1d4;
  cursor: pointer;
}

.margin-chevron {
  margin-left: 10px;
  margin-right: 10px;
}

// .pad-logo-company {
//   margin-left: -30px;
// }

.pad-name-company {
  margin-left: 53px;
}

// .wrapper-grey {
// background-color: #26609C;
// }


.title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
  // color: #fff;
}

// .title .bg {
//   text-align: center;
//   font-size: 60px;
//   font-family: "Noto-bold";
//   font-weight: bolder;
//   text-transform: uppercase;
//   color: #ececec;
//   z-index: -1;
//   position: absolute;
//   left: 0;
//   right: 0;
//   overflow: hidden;
//   white-space: nowrap;
// }

.line-border-top {
  border: 4px solid #90C1D4;
  width: 239px;
  margin-left: 337px;
 }
