.message {
  display: flex;
  margin-bottom: 10px;
}
.message-box {
  flex: 0 0 80%;
  margin-left: 5px;
  margin-top: 6px;
}
.message-content {
  background: rgba(144, 212, 171, 0.42);
  padding: 8px;
  border-radius: 0 15px 15px 15px;
  min-height: 60px;
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.6);
}
.message-header {
  color: lighten($gray-light, 30%);
  font-size: 13px;
  font-weight: lighter;
  margin-bottom: 0px;
}
.message p {
  margin-bottom: 0px !important;
}
.message.reverse {
  flex-direction: row-reverse;
  .message-header p {
    text-align: right;
    padding-right: 5px;
  }
  .message-content {
    border-radius: 15px 0 15px 15px;
    background: rgba(144, 178, 212, 0.5);
  }
}

// .messages {
//   background: #90c1d4;
//   color: white;
//   height: 35px;
//   width: 35px;
//   border-radius: 50%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-bottom: 0;
//   text-transform: uppercase;
//   h4 {
//     border-bottom: 3px solid $blue;
//     margin-bottom: 15px;
//   }
//   .message {
//     background: #90c1d4;
//     color: white;
//     border-radius: 10px;
//     border-top-left-radius: 0;
//     padding: 20px;
//     width: 70%;
//   }
//   .message_avatar {
//     display: flex;
//     p {
//       margin-left: 5px;
//     }
//   }
// }
