// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.activity {
  border-radius: 8px;
  background: white;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 20px 0px;
  padding: 30px;
  h5 {
    padding-bottom: 5px;
  }
}
