// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body {
  background-color: #F2F2F2;
}

.event {
	display: flex;
	flex-direction: column;
	margin-top: -40px;
	.event-details {
		display: flex;
		.description {
			width: 60%;
		}
		.participation {
			width: 40%;
		}
	}
}