// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar-description {
  // text-align: center;
  font-size: 15px;
  border: white 1px solid;
  border-radius: 12px;
  padding-bottom: 51px;
  padding-left: 18px;
  padding-top: 30px;
  margin-left: 16px;
  background-color: white;

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 17px;
  }

  h4 {
    font-size: 18px;
  }

}

.stats {
  display: flex;
  justify-content: space-between;
  border: white 1px solid;
  background-color: white;
  border-radius: 12px;
  padding-top: 22px;
  padding-left: 11px;
  padding-right: 11px;
}

#speed-number {
  padding-top: 0px;
}

#distance-number {
  padding-top: 0px;
}

// #time-run {
//   padding-top: 20px;
// }

.number {
  font-size: 70px;
}

.myevents {
  border: white 1px solid;
  background-color: white;
  border-radius: 12px;
  margin-top: 187px;
  margin-left: 405px;
  margin-right: 15px;
  padding-top: 59px;
  padding-bottom: 59px;
  position: relative;
  height: 155px;
}

.size_text {
  position: absolute;
  top: 10px;
  font-size: 21px;
  padding-left: 257px;

}

.pad-top-more {
  padding-top: 140px;

}

.button-update {
  border-radius: 12px;
  // background-color: white;
  height: 117px;
  text-align: center;
  padding-top: 63px;
  margin-left: -5px;
  margin-top: 20px;
  padding-bottom: 68px;
}

// .pad-name-company {
//   margin-left: 7px;
// }

// .pad-bot {
//   padding-bottom: 30px;
// }
